<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Vision</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="main-logo"><img src="/img/logo.png" alt="logo"></div>
    </header>
    <main>
        <section>
            <div>
                <p>Inicio > Carrito de compras</p>
            </div>
            <h3>CARRITO DE COMPRAS</h3>
            <article>
                <img src="" alt="">
                <div class="column-Producto">
                        <P>PRODUCTO</P>
                        <p>Color</p>
                        <p>Caracteristica</p>
                        <p>#0001</p>
                </div>
                <div class="column-cantidad">
                    <P>CANTIDAD</P>
                    <p>1</p>
                </div>
                <div class="column-precio">
                        <P>PRECIO</p>
                        <P>$1000,00</P>
                </div>
            </article>    
        </section>
        <section>
            <h4>RESUMEN DE COMPRA</h4>
            <div class="column-subtotal">
                <P>SUBTOTAL</P>
                <p>$1000,00</p>
            </div>
            <div>
                <p>TOTAL</p>
                <P>1000.00</P>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#">CALCULAR ENVIO</a>
                    </li>
                    <li>
                        <a href="#">Ingresar descuento</a>
                    </li>
                    <li>
                        <a href="#">FINALIZAR COMPRA</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>