<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>BLACKVISION</title>
</head>
<body>
    <header>
        <div class="header-izq">
            <div class="main-logo"><a href="/"><img src="/img/logo.png" alt="logo" class="imglogo"></a></div>
            <a href="/" id="linkmainlogo">Inicio</a>
            <a href="/productList" id="linkmainlogo">Productos</a>
            <a href="/#" id="linkmainlogo">Sale</a>
            <i class="fas fa-bars"></i>
        </div>
        <div class="header-der">
            <div class="header-search">
                <input type="text" placeholder="Buscar" class="boton-busar">
                <div class="btn">
                    <i class="fas fa-search" for="serch"></i>
                </div>
            </div>
            <div class="header-carrito"><a href="/productCart"><i class="fas fa-briefcase"></a></i></div>
            <div class="header-micuenta"><a href="/perfil"><i class="far fa-user"></i></a></div>
        </div>
    </header>
    <main class="login-main">
        <section class="contenedor-loguinbox">
            <article class="login-box">
                <h2 class="bienvenido">BIENVENIDO!</h2>
                <form class="contenedor-form" action="/register" method="get">
                    <div>
                        <label for="email"></label>
                        <input type="text" name="mail" id="email" placeholder="Correo Electronico">
                    </div>
                    <div>
                        <label for="password"></label>
                        <input type="password" name="pass" id="password" placeholder="Contraseña">
                    </div>
                    <div>
                        <button type="submit">Ingresar</button>
                    </div>
                    <div>
                        <button type="submit">Registrarse</button>
                    </div>
                    <div class="olvide">
                        <a href="#">Olvidé mi contraseña</a>
                    </div>
                </form>
            </article>
        </section> 
        <section class="login-textos">
            <article class="texto-bot">
                <h4>DISFRUTÁ DE</h4>
                <h4>LA COMUNIDAD</h4>
                <h4>BLACKVISION </h4>
                <h4>ESTÉS DONDE ESTÉS</h4>
            </article>
            <article class="login-ofertas">
                <div id="contenedor-oferta">
                    <div>
                        <i class="far fa-laugh-wink"></i>
                    </div>
                    <div>
                        <p>Eventos</p>
                        <p>especiales</p>
                    </div>
                </div>
                <div id="contenedor-oferta">
                    <div class="camion-1">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div>
                        <p>Envios</p>
                        <p>gratis</p>
                    </div>
                    <div class="camion-2">
                        <i class="fas fa-truck"></i>
                    </div>
                </div>
                <div id="contenedor-oferta">
                    <div>
                        <i class="fas fa-concierge-bell"></i>
                    </div>
                    <div>
                        <p>Modelos</p>
                        <p>unicos</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="redes">
            <div class="redes-titulos">
                <h4>Social media</h4>
            </div>
            <div class="redes-lista">
                <div>
                    <a href="https://es-la.facebook.com/login/device-based/regular/login/"><i
                            class="fab fa-facebook"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Des"><i
                            class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        
        <div class="crew">
            <h4>Black Vision crew</h4>
            <ul>
                <li>
                    <a href="#">Sobre nosotros</a>
                </li>
                <li>
                    <a href="/productList">Productos</a>
                </li>
            </ul>
        </div>
        <div class="config">
            <h4>Legales</h4>
            <ul>
                <li>
                    <a href="#">Políticas de privacidad</a>
                </li>
                <li>
                    <a href="#">Términos y Condiciones</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>