<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Vision</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="header-izq">
            <div class="main-logo"><a href="/"><img src="/img/logo.png" alt="logo" class="imglogo"></a></div>
            <a href="/" id="linkmainlogo">Inicio</a>
            <a href="/productList" id="linkmainlogo">Productos</a>
            <a href="/#" id="linkmainlogo">Sale</a>
            <i class="fas fa-bars"></i>
        </div>
        <div class="header-der">
            <div class="header-search">
                <input type="text" placeholder="Buscar" class="boton-busar">
                <div class="btn">
                    <i class="fas fa-search" for="serch"></i>
                </div>
            </div>
            <div class="header-carrito"><a href="/productCart"><i class="fas fa-briefcase"></a></i></div>
            <div class="header-micuenta"><a href="/perfil"><i class="far fa-user"></i></a></div>
        </div>
    </header>
    <main>
        <section class="inicio-ruta">
            <div class="ruta">
                <p>Inicio > Carrito de compras</p>
            </div>
        </section>
        <h3 class="carrito">CARRITO DE COMPRAS</h3>
        <section class="seleccionados">
            <article>
                <div class="fotocaja">
                    <img id="foto-producto" src="/img/lentesHome1.png" alt="">
                </div>
                <div class="detalle-product">
                    
                    <div class="column-product">
                        <h3>PRODUCTO</h3>
                            <P>Producto</P>
                            <p>Color</p>
                            <p>Caracteristica</p>
                            <p>#0001</p>
                    </div>
                    <div class="cant-prec">
                        
                        <div class="column-cantidad">
                            <h3>CANTIDAD</h3>
                            <p> <i class="fas fa-plus"></i> 1 <i class="fas fa-minus"></i> </p>
                        </div>
                     <div class="column-precio">
                        <h3>PRECIO</h3>
                            <P>$1000,00</P>
                    </div>
                </div>
                </div>
            </article>    
        </section>
        <section class="resumen">
            <h4> <i class="fas fa-store"></i> RESUMEN DE COMPRA</h4>
            <div class="subtotal">
                <P>Subtotal</P>
                <p>$1000.00</p>
            </div>
            <div class="total">
                <p>Total</p>
                <P>$1000.00</P>
            </div>
            <div class="pasoFinal">
                <ul>
                    <li class="envio">
                        <div>
                            <button type="submit">CALCULAR ENVIO <i class="fas fa-shipping-fast"></i> </button>
                        </div>
                    </li>
                    <li class="descuento">
                        <div class="boton-desc">    
                            <input type="text" id="cupon" placeholder="Ingresar descuento "><i class="fas fa-tag"></i>
                            <label for="cupon"></label>
                        </div>
                    </li>
                    <li class="finalizar">
                        <div>
                            <button type="submit">FINALIZAR COMPRA</button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
            <div class="redes-titulos">
                <h4>Social media</h4>
            </div>
            <div class="redes-lista">
                <div>
                    <a href="https://es-la.facebook.com/login/device-based/regular/login/"><i
                            class="fab fa-facebook"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Des"><i
                            class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        
        <div class="crew">
            <h4>Black Vision crew</h4>
            <ul>
                <li>
                    <a href="#">Sobre nosotros</a>
                </li>
                <li>
                    <a href="/productList">Productos</a>
                </li>
            </ul>
        </div>
        <div class="config">
            <h4>Legales</h4>
            <ul>
                <li>
                    <a href="#">Políticas de privacidad</a>
                </li>
                <li>
                    <a href="#">Términos y Condiciones</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>