<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Vision</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-izq">
            <div class="main-logo"><a href="/"><img src="/img/logo.png" alt="logo" class="imglogo"></a></div>
            <a href="/" id="linkmainlogo">Inicio</a>
            <a href="/productDetail" id="linkmainlogo">Productos</a>
            <a href="/#" id="linkmainlogo">Sale</a>
            <i class="fas fa-bars"></i>
        </div>
        <div class="header-der">
            <div class="header-search">
                <input type="text" placeholder="Buscar" class="boton-busar">
                <div class="btn">
                    <i class="fas fa-search" for="serch"></i>
                </div>
            </div>
            <div class="header-carrito"><a href="/productCart"><i class="fas fa-briefcase"></a></i></div>
            <div class="header-micuenta"><a href="/perfil"><i class="far fa-user"></i></a></div>
        </div>
    </header>
    <main>
        
    </main>
    <footer>
        <div class="redes">
            <div class="redes-titulos">
                <h4>Social media</h4>
            </div>
            <div class="redes-lista">
                <div>
                    <a href="https://es-la.facebook.com/login/device-based/regular/login/"><i
                            class="fab fa-facebook"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Des"><i
                            class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="config">
            <h4>Configuracion</h4>
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/carrito">Register</a>
                </li>
            </ul>
        </div>
        <div class="crew">
            <h4>Black Vision crew</h4>
            <ul>
                <li>
                    <a href="#">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#">Productos</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>