<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Vision</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-izq">
            <div class="main-logo"><a href="/"><img src="/img/logo.png" alt="logo" class="imglogo"></a></div>
            <a href="/" id="linkmainlogo">Inicio</a>
            <a href="/productList" id="linkmainlogo">Productos</a>
            <a href="/#" id="linkmainlogo">Sale</a>
            <i class="fas fa-bars"></i>
        </div>
        <div class="header-der">
            <div class="header-search">
                <input type="text" placeholder="Buscar" class="boton-busar">
                <div class="btn">
                    <i class="fas fa-search" for="serch"></i>
                </div>
            </div>
            <div class="header-carrito"><a href="/productCart"><i class="fas fa-briefcase"></a></i></div>
            <div class="header-micuenta"><a href="/perfil"><i class="far fa-user"></i></a></div>
        </div>
    </header>
    <main>
        <div class="main-botones">
            <div class="boton-filtrar">
                <a href="#"><i class="fas fa-sliders-h"></i> Filtrar</a>
            </div>
            <div class="boton-ordenar">
                <a href="#"><i class="fas fa-sort-alpha-down"></i> Ordenar</a>
            </div>
        </div>
        <div class="main-rutas">
            <a href="#">Lentes</a>
            <i class="fas fa-chevron-right"></i>
            <a href="#">Para el sol</a>
        </div>
        <section class="productos">
            <article>
                <div class="productos-img">
                    <a href="/productDetail"><img src="/img/lentesHome1.png" alt="Lentes" class="img-lentes"></a>
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                    <i class="far fa-heart"></i>
                </div>
                <div class="productos-detalles">
                    <h4 class="nombre-producto">Lente Blue Label</h4>
                    <p class="precio-producto">$80.000</p>
                    <p class="envios-producto">Envios gratis!</p>
                </div>
            </article>
            <article>
                <div class="productos-img">
                    <a href="/productDetail"><img src="/img/lentesHome1.png" alt="Lentes" class="img-lentes"></a>
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                    <i class="far fa-heart"></i>
                </div>
                <div class="productos-detalles">
                    <h4 class="nombre-producto">Lente Boquita Label</h4>
                    <p class="precio-producto">$500.000</p>
                    <p class="envios-producto">Envios gratis!</p>
                </div>
            </article>
            <article>
                <div class="productos-img">
                    <a href="/productDetail"><img src="/img/lentesHome1.png" alt="Lentes" class="img-lentes"></a>
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                    <i class="far fa-heart"></i>
                </div>
                <div class="productos-detalles">
                    <h4 class="nombre-producto">Lente Yellow Label</h4>
                    <p class="precio-producto">$20.000</p>
                    <p class="envios-producto">Envios gratis!</p>
                </div>
            </article>
            <article>
                <div class="productos-img">
                    <a href="/productDetail"><img src="/img/lentesHome1.png" alt="Lentes" class="img-lentes"></a>
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                    <i class="far fa-heart"></i>
                </div>
                <div class="productos-detalles">
                    <h4 class="nombre-producto">Lente Red Label</h4>
                    <p class="precio-producto">$40.000</p>
                    <p class="envios-producto">Envios gratis!</p>
                </div>
            </article>
            <article>
                <div class="productos-img">
                    <a href="/productDetail"><img src="/img/lentesHome1.png" alt="Lentes" class="img-lentes"></a>
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                    <i class="far fa-heart"></i>
                </div>
                <div class="productos-detalles">
                    <h4 class="nombre-producto">Lente Red Label</h4>
                    <p class="precio-producto">$40.000</p>
                    <p class="envios-producto">Envios gratis!</p>
                </div>
            </article>
            <article>
                <div class="productos-img">
                    <a href="/productDetail"><img src="/img/lentesHome1.png" alt="Lentes" class="img-lentes"></a>
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-chevron-right"></i>
                    <i class="far fa-heart"></i>
                </div>
                <div class="productos-detalles">
                    <h4 class="nombre-producto">Lente Red Label</h4>
                    <p class="precio-producto">$40.000</p>
                    <p class="envios-producto">Envios gratis!</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="redes">
            <div class="redes-titulos">
                <h4>Social media</h4>
            </div>
            <div class="redes-lista">
                <div>
                    <a href="https://es-la.facebook.com/login/device-based/regular/login/"><i
                            class="fab fa-facebook"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Des"><i
                            class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="config">
            <h4>Configuracion</h4>
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            </ul>
        </div>
        <div class="crew">
            <h4>Black Vision crew</h4>
            <ul>
                <li>
                    <a href="#">Sobre nosotros</a>
                </li>
                <li>
                    <a href="/productList">Productos</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>