.login-main{
    background-color: var(--rosa);
}
.contenedor-loguinbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-box{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing:border-box;
    margin: 30px 0px 15px 0px;
    background-color: var(--azul);
    border: 1px solid #000;
    border-radius: 5px;
}
.bienvenido{
    width: 90%;
}
.contenedor-form{
    width: 90%;
}
.login-box label{
    display: flex;
    padding: 10px 0px;
}
.login-box input{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
    width:100%;
}
.login-box button{
    border-color: transparent;
    border-radius: 5px;
    padding: 10px;
    width:100%;
    background-color: var(--celeste);
    margin-top: 15px;
    transition: all 0.5s;
}
.login-box button:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.contenedor-form a{
    color: #000;
    font-size: 14px;
}
.olvide{
    margin-top: 15px;
}
.texto-bot{
    padding-top: 15px;
    font-size: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login-ofertas{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}
#contenedor-oferta{
    width: 60%;
    text-align: center;
    display: flex;
    flex-wrap: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;
}
#contenedor-oferta i{
    font-size: 2em;
    padding: 0px 10px;
}
.camion-1{
    display: none;
}
@media (min-width: 426px){

}
@media (min-width: 769px){
    .login-main{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .login-textos{
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .texto-bot{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 150px;
        font-size: 40px;
        height: 400px;
        justify-content: space-around;
    }
    .texto-bot h4{
        text-align: left;
        width: 55%;
    }
    #contenedor-oferta{
        width: 20%;
        text-align: left;
        padding-top: 80px;
    }
    .camion-1{
        display: block;
    }
    .camion-2{
        display: none;
    }
    .contenedor-loguinbox{
        padding-top: 80px;
        width: 40%;
        height: 100px;
    }
}