* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

.main-top{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.login-titulo{
    width: 50%;
}   

.login-box {
    width: 40%;
}