:root{
    --marron: #F6BA6F;
    --rosa: #FFEBEB;
    --azul: #6DA9E4;
    --celeste: #ADE4DB;
    --amarillo: #F0FF42;
}

.route{
    color: var(--azul);
    font-weight: 500;
    font-size: 12px;
    padding: 10px;
    margin-left: -5px;
    border-top: 2px solid black;
}

.route p{
    color: black;
}

.cart{
    margin-left: 5px;
}

.selected{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.selected article{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.photobox{
    width: 30%;
}

#photo-product{
    width: 100%;
}

.detail-product{
    width: 40%;
}

.cant-price{
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.cant-price i{
    font-size: 50%;
    position: relative;
    right: 1px;
    bottom: 2px;
}

.column-price{
    font-size: 110%;
    position: relative;
    right: -5px;
}

.resume{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.resume h4{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
}

.resume i{
    color: #00a650;
}
.lastStep i{
    color: #00a650;
}

.subtotal{
    padding-top: 8px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.total{
    padding-top: 12px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    border-top: 1px solid;
}

.lastStep ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 25%;
    text-align: center;
}

.lastStep ul li{
    width: 80%;
}

.lastStep button {
    background-color: var(--azul);
    border: none;
    color: white;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.5s ease-in;
}

.lastStep .shipping button:hover{
    background: black;
}

.lastStep .finalize button{
    background: var(--azul);
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}

.lastStep .finalize button:hover{
    background: black;
    color: #fff;
    font-size: 110%;
}

.lastStep input {
    text-align: center;
    border: none;
    padding: 6px;
    font-size: small;
    position: relative;
    left: 6px;
    border-radius: 8px;
}

.lastStep input:focus {
    transform: scale(1.1); /* Aumenta el tamaño al enfocar */
    background: black;
    color: white;
    transition: transform 0.3s ease; /* Agrega una transición suave */
    
}

.lastStep .discount i {
    font-size: smaller;
    color: black;
    position: relative;
    right: 23px;
    transition: transform 0.3s ease;
}
  
  /* Estilos para el ícono al hacer clic en el campo */
.lastStep input:focus ~ i {
    transform: translateX(50px) rotate(360deg); /* Mueve y rota el ícono al hacer clic */
}

.shipping i{
    font-size: smaller;
}

.shipping a{
    color: white;
}

.finalize a{
    color: white;
}

.selected h3{
    display: none;
}

@media(min-width: 768px){
    .selected h3{
        display: flex;
    }
    .selected article div{
        display: flex;
        align-items: center;
    }
    .cant-price{
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px 30px;
        width: 60%;
    }
    .column-price{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 20px;
    }
    .column-price p{
        padding-top: 20px;
    }
    .column-amount{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 20px;
    }
    .column-amount p{
        padding-top: 20px;
    }
    .column-product{
        display: flex;
        flex-direction: column;
    
    }
    .photobox{
        width: 20%;
        margin-left: 10px;
    }
    .detail-product{
        width: 75%;
        align-items:flex-start;
    }
    .column-product{
        width: 30%;
        flex-direction: column;
    }
}

@media (min-width: 1025px) {

    .route{
        font-size: 16px;
    }

    .cart{
        font-size: 20px;
    }
    
    .selected article {
        padding: 20px;
    }

    .photobox {
        width: 25%;
        margin-left: 20px;
    }

    .detail-product {
        width: 50%;
        align-items: center;
        border-left: 2px solid var(--marron);
        border-right: 2px solid var(--marron);
    }

    .cant-price {
        padding: 20px 0;
    }

    .column-price,
    .column-amount,
    .column-product h3{
        font-size: 20px;
        padding-bottom: 2px;
    }

    .column-price,
    .column-amount,
    .column-product p{
        font-size: 16px;
    }

    .resume{
        padding: 5% 30% 10% 5%

    }

    .lastStep{
        border-top: 4px solid black;
    }

    .lastStep ul{
        padding-top: 10%;
    }

    .resume h4 {
        font-size: 20px;
        background-color: var(--azul);
        color: white;
    }

    .subtotal,
    .total {
        font-size: 18px;
        font-weight: bold;
        justify-content: space-around;
    }

    .lastStep button {
        font-size: 18px;
        padding: 15px 25px;
    }

    .lastStep input {
        font-size: 18px;
        padding: 10px;
        position: relative;
        left: 8px;
        border-radius: 12px;
    }

    .resume {
        font-size: 14px;
    }
}