.detail-main{
    background-color: var(--rosa);
}
.description-detail{
    width: 100%;
    padding: 20px 0px 20px 50px;
    font-size: 25px;
}
.images1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    width: 100%;
    justify-content: center;    
}
.img-detail{
    display: flex;    
    width: 100%;
    padding-bottom: 10px;
}
.img-detail img{
    width: 100%;
    background-color: #fff;
    border: 1px solid grey;
}
.img-selector{
    display: flex;    
    width: 100%;    
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img-selector img{    
    width: 40%;
    border: 1px solid grey;
    background-color: #fff;    
}
.product-detail{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
.price-discount{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}
.price-detail{
    font-size: 35px;
    
}
.discount-detail{
    font-size: 20px;
    color: #00a650;    
}

.shipping-detail i{
    color: #00a650;    
}
.button-detail{
    display: flex;
    justify-content: right;
    padding-top: 25px;
    padding-bottom: 25px;    
}
.buys-detail{
    font-size: 20px;
    background-color: var(--azul);
    padding: 10px;
    color: #000;
    border-radius: 5px;
    transition: all 0.5s;
    border: 1px solid transparent;
}
.buys-detail:hover{
    background-color: #00a650;
    box-shadow: inset 300px 0 0 0 #00a650;
}
.add-detail{
    font-size: 20px;
    background-color: var(--azul);
    color: #000;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s;
    border: 1px solid transparent;       
}
.add-detail:hover{
    background-color: #00a650;
    box-shadow: inset 300px 0 0 0 #00a650;
}

.characteristic-detail i{
    color: #00a650;
    font-size: 20px;
}
.characteristic-detail p{
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.characteristic-vulk{
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}
.detail-detail{
    padding-bottom: 10px;
    padding-left: 10px;
}
.description-detail{
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
}
@media (min-width: 426px){
.button-detail{    
    justify-content: center;
        
}
}

@media (min-width: 769px){
    .description-detail{
        font-size: 30px;
    }
    .images1{
        flex-direction: row;
        width: 100%;
        
    }
    .img-detail{
        width: 50%;
    }
    .img-selector{
    width: 45%;
    flex-direction: column;       
    }
    .img-selector img{
        transition: all 0.4s;
        
    }
    .img-selector img:hover{
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .product-detail{ 
        padding-top: 30px;  
        justify-content: center;        
        width: 100%;
        padding-left: 20px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .price-discount{
        width: 60%;
        padding-right: 50px;
        justify-content: center;
    }
    .price-detail{
        width: 30%;
    }
    .discount-detail{
        width: 30%;
        
    }
    .shipping-detail{
        width: 30%;
    }
    
    .button-detail{        
        justify-content: center;
        padding-left: 10px;
    }
    .button-detail button{
        margin: 0px 50px;
        padding: 10px;
    }
    .characteristic-detail{
        padding-left: 10px;
    }
    .characteristic-detail p{
        padding-left: 30px;
        
    }
    .description-detail{
        width: 100%;
    }
    .detail-detail{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;        
    }   
    .detail-detail p{
        padding-top: 10px;
        font-size: 20px;
        padding-left: 10px;
        width: 80%;
    }
}

