.main-list{
    background-color: #e0e0e0;
}

.main-botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.main-botones a{
    color: #000;
    transition: all 0.5s;
}

.main-botones a:hover{
    color: var(--celeste);
}

.boton-filtrar{
    padding: 5px 20px;
    width: 50%;
    border-right: 1.5px solid #c2c1be;
    text-decoration: none;
}

.boton-ordenar{
    padding: 5px 20px;
    width: 50%;
    text-decoration: none;
}

.rutas{
    padding: 5px 5px;
}

.rutas a{
    color: var(--negro);
    transition: all 0.5s;
}

.rutas a:hover{
    color: var(--celeste);
}

.ordenar{
    display: none;
}

.barra-filtros{
    display: none;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.productos article{
    width: 45%;
    border: 1px solid #000;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.4s;
}

.productos article:hover{
    
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productos-img{
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #c2c1be;
    padding: 5px;
    background-color: #fff;
}

.productos-img img{
    width: 100%;
}

.productos-img .fa-chevron-left{
    display: none;
    position: absolute;
    left: 3%;
    top: 50%;
}

.productos-img .fa-chevron-right{
    display: none;
    position: absolute;
    right: 3%;
    top: 50%;

}

.productos-img:hover :where(.fa-chevron-left, .fa-chevron-right){
    display: block;
}

.productos-img .fa-heart{
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

.productos article:hover .fa-heart{
    display: block;
}

.fa-heart{
    transition: all 0.5s;
}

.fa-heart:hover{
    color: red;
}

.productos-detalles{
    padding: 5px;
    background-color: #fff;
}

.productos-detalles a{
    color: var(--negro);
    text-decoration: none;
}

.envios-producto{
    color: #00a650;
}

@media (min-width: 426px){
    .productos article{
        width: 30%;
    }

    .productos-img .fa-heart{
        font-size: 120%;
        right: 7px;
        top: 7px;
    }
}

@media (min-width: 769px){
    .main-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-botones{
        display: none;
    }

    .main-botones-bottom{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 5px;
    }

    .ordenar{
        display: block;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px 0px;
    }

    .ordenar button{
        font-size: 15px;
        padding: 0px 10px;
        margin: 0px 15px;
        background-color: #fff;
        border: none;
        transition: 0.5s all;
        border: #000 1px solid;
        border-radius: 5px;
    }

    .ordenar button:hover{
        color: var(--celeste);
    }

    .barra-filtros{
        display: block;
        width: 20%;
        padding-left: 10px;
    }

    .barra-filtros article{
        padding-bottom: 10px;
    }

    .barra-filtros h4{
        padding-bottom: 10px;
    }

    .barra-filtros ul li{
        padding-bottom: 5px;
    }

    .barra-filtros a{
        text-decoration: none;
        color: #474747;
        transition: 0.5 all;
    }

    .barra-filtros a:hover{
        color: #000;
    }

    .form-precio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
    }

    .form-precio :where(.input-min, .input-max){
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .form-precio div input{
        width: 100%;
    }

    .boton-enviar{
        display: flex;
        justify-content: center;
        width: 10%;
    }

    .form-precio p{
        display: flex;
        justify-content: center;
        width: 10%;
    }

    .productos{
        width: 80%;
    }

    .productos-img .fa-heart{
        font-size: 150%;
        right: 10px;
        top: 10px;
    }
}