:root{
    --marron: #F6BA6F;
    --rosa: #FFEBEB;
    --azul: #6DA9E4;
    --celeste: #ADE4DB;
    --amarillo: #F0FF42;
}

.ruta{
    color: var(--azul);
    font-weight: 500;
    font-size: 12px;
    padding: 10px;
    margin-left: -5px;
    border-top: 2px solid black;
}

.ruta p{
    color: black;
}

h3{
    margin-left: 5px;
}

.seleccionados{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.seleccionados article{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.fotocaja{
    width: 30%;
}

#foto-producto{
    width: 100%;
}

.detalle-product{
    width: 40%;
}

.cant-prec{
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.cant-prec i{
    font-size: 50%;
    position: relative;
    right: 1px;
    bottom: 2px;
}

.column-precio{
    font-size: 110%;
    position: relative;
    right: -5px;
}

.resumen{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.resumen h4{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
}

.resumen i{
    color: #00a650;
}
.pasoFinal i{
    color: #00a650;
}

.subtotal{
    padding-top: 8px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.total{
    padding-top: 12px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    border-top: 1px solid;
}

.pasoFinal ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 25%;
    text-align: center;
}

.pasoFinal ul li{
    width: 80%;
}

.pasoFinal button {
    background-color: var(--azul);
    border: none;
    color: white;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.5s ease-in;
}

.pasoFinal .envio button:hover{
    background: black;
}

.pasoFinal .finalizar button{
    background: var(--azul);
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}

.pasoFinal .finalizar button:hover{
    background: black;
    color: #fff;
    font-size: 110%;
}

.pasoFinal input {
    text-align: center;
    border: none;
    padding: 6px;
    font-size: small;
    position: relative;
    left: 6px;
    border-radius: 8px;
}

.pasoFinal input:focus {
    transform: scale(1.1); /* Aumenta el tamaño al enfocar */
    background: black;
    color: white;
    transition: transform 0.3s ease; /* Agrega una transición suave */
    
}

.pasoFinal .descuento i {
    font-size: smaller;
    color: black;
    position: relative;
    right: 23px;
    transition: transform 0.3s ease;
}
  
  /* Estilos para el ícono al hacer clic en el campo */
.pasoFinal input:focus ~ i {
    transform: translateX(50px) rotate(360deg); /* Mueve y rota el ícono al hacer clic */
}

.envio i{
    font-size: smaller;
}

.envio a{
    color: white;
}

.finalizar a{
    color: white;
}

.seleccionados h3{
    display: none;
}

@media(min-width: 768px){
    .seleccionados h3{
        display: flex;
    }
    .seleccionados article div{
        display: flex;
        align-items: center;
    }
    .seleccionados article div div{
        flex-wrap: wrap;
        padding: 10px 30px;
    }
    .cant-prec{
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px 30px;
        width: 60%;
    }
    .column-precio{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 20px;
    }
    .column-precio p{
        padding-top: 20px;
    }
    .column-cantidad{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 20px;
    }
    .column-cantidad p{
        padding-top: 20px;
    }
    .column-product{
        display: flex;
        flex-direction: column;
    
    }
    .fotocaja{
        width: 20%;
        margin-left: 10px;
    }
    .detalle-product{
        width: 75%;
        align-items:flex-start;
    }
    .column-product{
        width: 30%;
        flex-direction: column;
    }
}

@media (min-width: 1025px) {

    .ruta{
        font-size: 16px;
    }

    .carrito{
        font-size: 20px;
    }
    
    .seleccionados article {
        padding: 20px;
    }

    .fotocaja {
        width: 25%;
        margin-left: 20px;
    }

    .detalle-product {
        width: 50%;
        align-items: center;
        border-left: 2px solid var(--marron);
        border-right: 2px solid var(--marron);
    }

    .cant-prec {
        padding: 20px 0;
    }

    .column-precio,
    .column-cantidad,
    .column-product h3{
        font-size: 20px;
        padding-bottom: 2px;
    }

    .column-precio,
    .column-cantidad,
    .column-product p{
        font-size: 16px;
    }

    .resumen{
        padding: 5% 30% 10% 5%

    }

    .pasoFinal{
        border-top: 4px solid black;
    }

    .pasoFinal ul{
        padding-top: 10%;
    }

    .resumen h4 {
        font-size: 20px;
        background-color: var(--azul);
        color: white;
    }

    .subtotal,
    .total {
        font-size: 18px;
        font-weight: bold;
        justify-content: space-around;
    }

    .pasoFinal button {
        font-size: 18px;
        padding: 15px 25px;
    }

    .pasoFinal input {
        font-size: 18px;
        padding: 10px;
        position: relative;
        left: 8px;
        border-radius: 12px;
    }

    .resumen {
        font-size: 14px;
    }
}