
.descrip-detail{
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 25px;
}
.imagenes1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    width: 100%;
    justify-content: center;    
}
.img-detail{
    display: flex;    
    width: 100%;    
}
.img-detail img{
    width: 100%;
}
.img-selector{
    display: flex;    
    width: 100%;    
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}
.img-selector img{    
    width: 40%;
    border: 1px solid grey;        
}
.product-detail{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
.precio-descuento{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}
.precio-detail{
    font-size: 35px;
    
}
.descuento-detail{
    font-size: 20px;
    color: green;    
}

.envios-detail i{
    color: green;    
}
.boton-detail{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;    
}
.compra-detail{
    font-size: 20px;
    background-color: #ADE4DB;
    color: #000;
    border-radius: 10px;
    transition: all 0.5s;
}
.compra-detail:hover{
    background-color: green;
}
.aniadir-detail{
    font-size: 20px;
    background-color: #ADE4DB;
    color: #000;
    border-radius: 10px;
    transition: all 0.5s;   
}
.aniadir-detail:hover{
    background-color: green;
}

.caracte-detail i{
    color: green;
    font-size: 20px;
}
.caracte-detail p{
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.caracte-vulk{
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}
.detalle-detail{
    padding-bottom: 10px;
    padding-left: 10px;
}
.descrip-detalle{
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
}
@media (min-width: 426px){



}


@media (min-width: 769px){
    .descrip-detail{
        font-size: 30px;
    }
    .imagenes1{
        flex-direction: row;
        width: 100%;
        
    }
    .img-detail{
        width: 50%;
    }
    .img-selector{
       width: 45%;
       flex-direction: column;       
    }
    .img-selector img{
        transition: all 0.4s;
        
    }
    .img-selector img:hover{
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .product-detail{ 
        padding-top: 30px;  
        justify-content: center;        
        width: 100%;
        padding-left: 20px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .precio-descuento{
        width: 60%;
        padding-right: 50px;
        justify-content: center;
    }
    .precio-detail{
        width: 30%;
    }
    .descuento-detail{
        width: 30%;
        
    }
    .envios-detail{
        width: 30%;
    }
    
    .boton-detail{        
        justify-content: center;
        padding-left: 10px;
               
    }
    .boton-detail button{
        margin: 0px 50px;
        padding: 10px;        

    }
    .caracte-detail{
        padding-left: 10px;
    }
    .caracte-detail p{
        padding-left: 30px;
        
    }
    .descrip-detalle{
        width: 100%;
    }
    .detalle-detail{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;        
    }   
    .detalle-detail p{
        padding-top: 10px;
        font-size: 20px;
        padding-left: 10px;
        width: 80%;
    }
    

}

