:root{
    --marron: #F6BA6F;
    --rosa: #FFEBEB;
    --azul: #6DA9E4;
    --celeste: #ADE4DB;
    --amarillo: #F0FF42;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--rosa);
    font-size: smaller;
}

/* Estilos para los divs dentro del container */
.data, .shopping, .settings {
    background-color: #f0f0f0;
    border-bottom: 1px solid var(--celeste);
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.data h2, .shopping h2, .settings h2, h3, p {
    margin: 10px 0;
}

.title{
    border-bottom: 1px solid var(--marron);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 8px;
    font-weight: lighter;
}

.sub-title{
    text-transform: uppercase;
}

.edit button, .settings button, .shopping button{
    border: none;
    color: var(--azul);
}
.edit i, .settings i{
    position: relative;
    top: 1px;
}

.shopping div{
    font-weight: bold;
    color: grey;
}

.delete button{
    background-color: var(--azul);
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.delete button:hover{
    background: var(--marron);
}

@media (min-width: 1025px){
    .container{
        font-size: larger;
    }

    .data, .shopping, .settings{
        border: 1px solid #ddd; 
        padding: 20px;
        margin: 10px;
    }

    .edit button, .settings button, .shopping button{
        font-size: 100%;
    }
    .edit i, .settings i{
        font-size: 100%;
    }
}
