:root{
    --marron: #F6BA6F;
    --rosa: #FFEBEB;
    --azul: #6DA9E4;
    --celeste: #ADE4DB;
    --amarillo: #F0FF42;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--rosa);
    font-size: smaller;
}

/* Estilos para los divs dentro del container */
.datos, .compras, .ajustes {
    background-color: #f0f0f0;
    border-bottom: 1px solid var(--celeste);
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.datos h2, .compras h2, .ajustes h2, h3, p {
    margin: 10px 0;
}

h2{
    border-bottom: 1px solid var(--marron);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 8px;
    font-weight: lighter;
}

h3{
    text-transform: uppercase;
}

.editar button, .ajustes button, .compras button{
    border: none;
    color: var(--azul);
}
.editar i, .ajustes i{
    position: relative;
    top: 1px;
}

.compras div{
    font-weight: bold;
    color: grey;
}

.eliminar button{
    background-color: var(--azul);
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.eliminar button:hover{
    background: var(--marron);
}

@media (min-width: 1025px){
    .container{
        font-size: larger;
    }

    .datos, .compras, .ajustes{
        border: 1px solid #ddd; 
        padding: 20px;
        margin: 10px;
    }

    .editar button, .ajustes button, .compras button{
        font-size: 100%;
    }
    .editar i, .ajustes i{
        font-size: 100%;
    }
}
