@import "login.css";
@import "productCart.css";
@import "productDetail.css";
@import "register.css";
@import "perfil.css";
@import "productList.css";

:root{
    --celeste: #4592AF;
    --amarillo: #F0FF42;
    --marron: #AA8B56;
    --negro: #000;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
    font-family: 'Roboto', sans-serif;
    position: relative;    
    min-height: 100vh;
}
header{
    background-color:#000 ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    
}
.header-izq{
    width: 45%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-items: center;
}
.fa-bars{
    color: var(--celeste);
    font-size: larger;
    
}
#linkmainlogo{
    display: none;
}
.header-izq a{
    transition: all 0.8s ease-in-out;
}
.header-izq a:hover{
    transform: scale(1.2);
}
.header-izq div{
    width: 20%;
    
}
.header-inicio{
    width: 70%;
}
.header-prod{
    width: 70%;
    font-size: 70%;
}
.header-sale{
    width: 70%;
    font-size: 70%;
}
.header-der{
    width: 45%;
    display: flex;
    flex-wrap: wrap;    
    justify-content:right;    
    align-items: center;
    margin-right: 10px;    
}
.header-der i{
    color: var(--celeste);
    font-size:larger;
    margin: 10px;
    padding-left: 10px;   
    transition: all 0.8s; 
}
.header-izq i:hover{
    transform: scale(1.2);
}
.header-izq i{
    color: var(--celeste);
    font-size:larger;
    margin: 10px;
    padding-left: 10px;   
    transition: all 0.8s; 
}
.header-der i:hover{
    transform: scale(1.2);
}
.header-search{
    padding: 5px;
    position: relative;
    transition: all 0.8s;
}
.header-search input{
    padding: 5px;
    outline: none;
    border-radius: 15px;
    width: 0;
    transition: all 0.8s ease-out;
}
.btn{
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}
.header-search:hover{
    transform: scale(1.1);
}
.header-search:hover input{
    width: 100%;
}
.header-search input:focus{
    width: 100%;
}
.imglogo{
    border: 1px solid white;
    width: 90%;
    background-color: #ffff;
    border-radius: 100%;    
    margin-top: 10px;
    margin-bottom: 5px;
    transition: all 500ms ease;
}
.imglogo:hover{
    transform: scale(0.9);
}
header div div{
    display: flex;
    justify-content: center;
}
#contenedorItemsCarrousel{
    height: 20vh;
    background-image: url("/img/salehsd.jpg");
    background-size: cover;
    overflow: hidden;
    
}
.item-carrousel{
    
    height: 100%;
    position: relative;
}
.img-carrousel{
    height: 100%;
    display: flex;
    justify-content: center;
}
.img-carrousel img{
    height: 100%;
    
}
.flechas-carrousel{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}
.flechas-carrousel i{
    opacity: 0.5;
    transition: all 0.2s ease-out;;
}
.flechas-carrousel i:hover{
    opacity: 1;
    transform:scale(1.1);
}

.publicidad-home{
    width: 100%;
    border: 2px solid black;
    
}
.publicidad-home img{
    width: 100%;
}
h2.titulo{
    font-size: larger;
    padding: 5px;
}
.publicidad-texto h3{
    font-size: 0.8em;
    font-style: italic;
    padding: 5px;
    
}
.publicidad-texto p{
    padding: 5px;
    text-align: center;
}
.publicidad-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer{
    
    width: 100%;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
}
.redes-titulo{
    width: 100%;   
    
}
.redes{
    display: flex;
    flex-wrap: wrap;       
    color:white;
    width: 100%;
    justify-content: center;
}


.config{
    color:white;
    width: 90%;        
}
.crew{
    color:white;
    width: 90%;
}
.redes-lista{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
}
.redes-lista div{
    padding-left: 15px;
    
}
a{  color:var(--celeste);    
    text-decoration: none;
    font-size: 1rem;
}   
ul{
    list-style-type: none;
    text-decoration: none;    
}
footer div a i{
    margin-right: 15px;
}

.ruta{
    width: 100%;
}
footer div{
    padding: 5px;
}

@media (min-width: 426px){    
    #linkmainlogo{
        display: block;
    }
    .header-izq i{
        display: none;
    }
    footer{
        width: 100%;
        flex-direction:row;
        align-items: top;
        justify-content:center;
        position: relative;
        bottom: 0;
    }
    .redes{
      width: 30%;
        
    }
    .redes-lista{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .redes-lista div {
        width: 25%;
    }
    .config{     
        width: 30%;        
    }
    .crew{     
        width: 30%;
    }
}
@media (min-width: 769px){ 
    #linkmainlogo{
        display: block;
    }   
    .header-izq i{
        display: none;
    }
    .redes{
        width: 30%;          
      }
      .config{     
          width: 30%;       
      }
      .crew{     
          width: 30%;
      }
      .publicidad-home{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
      }
      .publicidad-img{
        width: 50%;
      }
      .publicidad-texto{
        width:100%;
        order: 1;
      }
}

