<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>
<body class="body-index">
    <%- include('partials/header.ejs')%>
    <main>
        <div id="carrouselItemsConteiner">
            <div class="item-carrousel" id="item-carrousel1">
                <div class="img-carrousel" id="img-carrousel1"><img src="/img/lentesHome1.png" alt="imagenHome1"></div>
                <div class="arrows-carrousel">
                    <a href="#item-carrousel5">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a href="#item-carrousel2">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="item-carrousel" id="item-carrousel2">
                <div class="img-carrousel" id="img-carrousel2"><img src="/img/lentesHome2.png" alt="imagenHome2"></div>
                <div class="arrows-carrousel">
                    <a href="#item-carrousel1">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a href="#item-carrousel3">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="item-carrousel" id="item-carrousel3">
                <div class="img-carrousel" id="img-carrousel3"><img src="/img/lentesHome3.png" alt="imagenHome3"></div>
                <div class="arrows-carrousel">
                    <a href="#item-carrousel2">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a href="#item-carrousel4">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="item-carrousel" id="item-carrousel4">
                <div class="img-carrousel" id="img-carrousel4"><img src="/img/lentesHome4.png" alt="imagenHome4"></div>
                <div class="arrows-carrousel">
                    <a href="#item-carrousel3">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a href="#item-carrousel5">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="item-carrousel" id="item-carrousel5">
                <div class="img-carrousel" id="img-carrousel5">
                    <img src="/img/lentesHome5.png" alt="imagenHome5">
                </div>
                <div class="arrows-carrousel">
                    <a href="#item-carrousel4">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a href="#item-carrousel1">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ad-home">
            <div class="ad-img"><img src="/img/publiLentes1.jpg" alt="ad1"></div>
            <div class="ad-text">
                <h2 class="title-home">Moda sustentable</h2>
                <h3>Recycled colections</h3>
                <p>Cada año ocho millones de toneladas de desechos plásticos terminan en el océano, y sólo la mitad de
                    estos han sido fabricados hace apenas 15 años. Los números son contundentes y estas cifras desaniman
                    a cualquiera. Muchos de los plásticos “biodegradables” sólo pueden descomponerse cuando se exponen a
                    temperaturas más altas de las que podrían alcanzar en el mar. Es por esto que cada vez más tiendas
                    están siguiendo la tendencia de buscar una segunda vida a este material desechable, creando anteojos
                    de sol y gafas de lectura a través del plástico reciclado.</p>
                <a href="#" class="link-add">Clickeá para ver toda la colección</a>
            </div>
            <div class="ad-img"><img src="/img/publiLentes2.jpg" alt="ad1" id="publi-img2"></div>
        </div>
    </main>
    <%- include('partials/footer.ejs')%>
</body>

</html>