<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <div>
            <h4>Mis datos</h4>
            <a href="/user"><i class="far fa-user"></i></a>
        </div>

    </main>    
    <%- include('partials/footer.ejs')%>
</body>
</html>