<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="register-box">
            <h2>Cargar producto para vender</h2>
            <h3> Agregue la informacion del producto</h3>

            <form action="/products/create" method="post" enctype="multipart/form-data">
                
                <input type="text" placeholder="Nombre del producto" name="name">
                <input type="text" placeholder="Descripción" name="description">
                <div class="size-edit"><label for="color">Color: </label>
                    <select name="color" >
                        <option value="blanco">Blanco</option>
                        <option value="rojo">Rojo</option>
                        <option value="azul">Azul</option>
                        <option value="negro">Negro</option>
                        <option value="rosa">Rosa</option>
                        <option value="dorado">Dorado</option>
                        <option value="verde">Verde</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>
                <div class="size-edit"> <label for="size">Talle: </label>
                    <select  id="size" name="size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>  
                <input type="number" placeholder="precio" id="price" name="price">
                <label for="image-create" class="label-create"><i class="fas fa-upload"></i>Carga la imagen</label>
                <input type="file" placeholder="Carga la imagen" id="image-create" name="image">                
                <button type="submit">Cargar producto</button>
            </form>
        </section>
    </main>  
    <%- include('partials/footer.ejs')%>
</body>
</html>