<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="register-box">
            <h1>Edición de producto</h1>

            <form action="/product/edit" method="post">


                <p class="input-Product">Nombre del producto</p>
                <input type="text" value="anteojo" name="name-Product">
                <p class="input-Product">Descripcion</p>
                <input type="text" value="grandes" name="description-Product">
                <p class="input-Product">Color</p>
                <input type="text" value="rosa" name="color-Product">
                <div class="size-edit"> <label for="size">Talle: </label>
                    <select  id="size" name="size">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>      
                <p class="input-Product">Actualizar precio</p>        
                <input type="number" value="1000" placeholder="precio" id="price" name="price">
                <label for="image-edit" class="label-edit"><i class="fas fa-upload"></i>Carga la imagen</label>
                <input type="file" placeholder="Carga la imagen" id="image-edit" name="image">                
                <button type="submit">Editar producto</button>
            </form>
        </section>
    </main>  
    <%- include('partials/footer.ejs')%>
</body>
</html>