<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="register-box">
            <h2>Cargar producto para vender</h2>
            <h3> Agregue la informacion del producto</h3>

            <form action="/product/crear" method="post">
                
                <input type="text" placeholder="Nombre del producto" name="nombre">
                <input type="text" placeholder="Descripción" name="descripcion">
                <input type="text" placeholder="Color" name="color">
                <input type="number" placeholder="precio" id="precio" name="precio">
                <div class="formtalle">
                    <label for="talle">Talle: </label>
                    <select name="talle">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>
                <label >Carga la imagen de tu producto</label>
                <input type="file" placeholder="Carga la imagen" id="imagen" name="imagen">                
                <button type="submit">Cargar producto</button>
            </form>
        </section>
    </main>  
    <%- include('partials/footer.ejs')%>
</body>
</html>