<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="start-route">
            <div class="route">
                <p>Inicio > Carrito de compras</p>
            </div>
        </section>
        <h3 class="cart">CARRITO DE COMPRAS</h3>
        <section class="selected">
                
        </section>
        <section class="resume">
            <h4> <i class="fas fa-store"></i> RESUMEN DE COMPRA</h4>
            <div class="subtotal">
                <P>Subtotal</P>
                <p>$1000.00</p>
            </div>
            <div class="total">
                <p>Total</p>
                <P>$1000.00</P>
            </div>
            <div class="lastStep">
                <ul>
                    <li class="shipping">
                        <div>
                            <button type="submit">CALCULAR ENVIO <i class="fas fa-shipping-fast"></i> </button>
                        </div>
                    </li>
                    <li class="discount">
                        <div class="desc-buttom">    
                            <input type="text" id="cupon" placeholder="Ingresar descuento "><i class="fas fa-tag"></i>
                            <label for="cupon"></label>
                        </div>
                    </li>
                    <li class="finalize">
                        <div>
                            <button type="submit">FINALIZAR COMPRA</button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <%- include('partials/footer.ejs')%>
    <script src="/js/cart.js"></script>
</body>
</html>