<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs')%>
    <main class="detail-main">        
        <section class="section1">
            <h4 class="descrip-detail">Anteojos de sol Vulk The Guardian color negro</h4>
            <article class="imagenes1">
                <div class="img-detail">
                    <img src="/img/lentesHome1.png" alt="Lentes">                    
                </div>    
                <div class="img-selector">
                    <img src="/img/lentesHome1.png" alt="Lentes">
                    <img src="/img/lentesHome1.png" alt="Lentes">
                </div>                            
            </article>
            <article>
                <div class="product-detail">
                    <div class="precio-descuento">
                        <p class="precio-detail">$40.000</p>
                        <p class="descuento-detail">8% Off</p>
                    </div>
                    <p class="envios-detail"><i class="fas fa-truck"></i> Envios gratis!</p>                    
                </div>
            </article>
            <article>
                <form class="boton-detail" action="/user/cart" method="GET"> 
                    <button class="compra-detail" type="submit">Comprar ahora</button>
                    <button class="aniadir-detail" type="submit">Agregar al carrito</button>                 
                </form>
            </article>
        </section>
        <section>
            <article>
                <div class="caracte-detail">
                    <h4 class="caracte-vulk">Características de Vulk</h4>
                    <p><i class="fas fa-check-circle"></i> Marca: Vulk</p>
                    <p><i class="fas fa-check-circle"></i> Edad: Adultos</p>
                    <p><i class="fas fa-check-circle"></i> Género: Sin género</p>
                </div>
            </article>
            <article>
                <div class="detalle-detail">
                    <h4 class="descrip-detalle">Descripción</h4>
                    <p>Vulk es una de las marcas número 1 en el mercado óptico a nivel internacional. Esta empresa se caracteriza por ofrecer modelos y diseños originales y por buscar inspiración en las últimas tendencias. Además, sus colecciones ofrecen diseños #NoGender para que mujeres y hombres elijan con libertad qué diseños usar.</p>
                </div>                              
            </article>
        </section>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>