<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="register-box">
            <h1>Edición de producto</h1>

            <form action="/product/edit" method="post">
                <p class="nomP">Nombre del producto</p>
                <input type="text" value="anteojo" name="nombre">
                <p class="nomP">Descripcion</p>
                <input type="text" value="grandes" name="descripcion">
                <p class="nomP">Color</p>
                <input type="text" value="rosa" name="color">
                <div class="talleedit"> <label for="talle">Talle: </label>
                    <select  id="talle" name="talle">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>      
                <p class="nomP">Actualizar precio</p>        
                <input type="number" value="1000" placeholder="precio" id="precio" name="precio">
                <label for="imagen">Carga la imagen de tu producto</label>
                <input type="file" placeholder="Carga la imagen" id="imagen" name="imagen">                
                <button type="submit">Editar producto</button>
            </form>
        </section>
    </main>  
    <%- include('partials/footer.ejs')%>
</body>
</html>