<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="register-box">
            <h2>REGISTRARSE</h2>
            <h3>Por favor complete la siguiente informacion</h3>
            <form action="/user/register" method="post" enctype="multipart/form-data">
                <% if (locals && locals.msgError) { %>
                 <% for( let index = 0; index < array.length; index++ ) { %>
                 
                 <% } %>
                <% } %>
                <label for="text"></label>
                <input type="text" placeholder="Nombre" id="name" name="nameus">

                <label for="text"></label>
                <input type="text" placeholder="Apellido" id="apellido" name="lastnameus">

                <label for="date"></label>
                <input type="date"placeholder="Fecha de nacimiento" id="fden" name="birthday">

                <label for="text"></label>
                <input type="text" placeholder="Domicilio" id="domicilio" name="adressus">
                
                <label for="E-mail"></label>
                <input type="text" placeholder="Correo Electronico" id="email" name="emailus">

                <label for="password"></label>
                <input type="password" placeholder="Contraseña" id="password" name="passus">
                <label for="image-edit" class="label-edit"><i class="fas fa-upload"></i>Imagen de perfil</label>
                        <input type="file" placeholder="Carga la imagen" id="image-edit" name="imageus">

                <button type="submit">CREAR UNA CUENTA</button>
            </form>
        </section>
    </main>  
    <%- include('partials/footer.ejs')%>
</body>
</html>