<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="register-box">
            <h2>REGISTRARSE</h2>
            <h3>Por favor complete la siguiente informacion</h3>
            <form action="/" method="get">
                <label for="text"></label>
                <input type="text" placeholder="Nombre" id="nombre">

                <label for="text"></label>
                <input type="text" placeholder="Apellido" id="apellido">

                <label for="date"></label>
                <input type="date"placeholder="Fecha de nacimiento" id="fden">

                <label for="text"></label>
                <input type="text" placeholder="Domicilio" id="domicilio">
                
                <label for="E-mail"></label>
                <input type="text" placeholder="Correo Electronico" id="email">

                <label for="password"></label>
                <input type="password" placeholder="Contraseña" id="password">

                <button type="submit">CREAR UNA CUENTA</button>
            </form>
        </section>
    </main>  
    <%- include('partials/footer.ejs')%>
</body>
</html>