<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs')%>
         <div class="container">
            <div class="datos">
                <h2>Información de la cuenta</h2>
                <form action="editar" method="post">
                    <h3>Detalles de contacto</h3>
                    <p>NOMBRE Y APELLIDO</p>
                    <p>usuario@example.com</p>
                    <div class="editar">
                        <button>Editar <i class="fas fa-angle-right"></i></button>
                        <button>Cambiar contraseña <i class="fas fa-angle-right"></i></button>
                    </div>
                </form>
            </div>
            <div class="compras">
                <h2>Pedidos Recientes</h2>
                <div class="listado">
                    <ul>
                        <li>Pedido #:
                        <p>Fecha:</p>
                        <p>Enviar a:</p>
                        <p>Total:</p>
                        <p>Estado:</p>
                        <button>Seguimiento</button></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ajustes">
                <h2>Libreta de direcciones</h2>
                <form action="editar" method="post">
                    <h3>Direccion de facturación predeterminada</h3>
                    <p>No ha establecido una dirección de facturación predeterminada.</p>
                    <button class="editar-direccion">Editar dirección <i class="fas fa-angle-right"></i></button>
                </form>
                <form action="editar" method="post">
                    <h3>Dirección de envío predeterminada</h3>
                    <p>Nombre y Apellido</p>
                    <p>Calle, N°</p> 
                    <p>Ciudad, provincia, codigo postal</p>
                    <p>Pais</p>
                    <p>Tel:</p>
                    <p>DNI:</p>
                    <button class="editar-direccion">Editar dirección <i class="fas fa-angle-right"></i></button>
                </form>
                <div class="eliminar">
                    <button>Eliminar cuenta</button>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs')%>
    </body>
</html>