<footer>
    <div class="redes">
        <div class="redes-titulos">
            <h4>Social media</h4>
        </div>
        <div class="redes-lista">
            <div>
                <a href="https://es-la.facebook.com/login/device-based/regular/login/"><i
                        class="fab fa-facebook"></i></a>
            </div>
            <div>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            </div>
            <div>
                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin%3Flang%3Des"><i
                        class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
    
    <div class="crew">
        <h4>Black Vision crew</h4>
        <ul>
            <li>
                <a href="#">Sobre nosotros</a>
            </li>
            <li>
                <a href="/product">Productos</a>
            </li>
        </ul>
    </div>
    <div class="config">
        <h4>Legales</h4>
        <ul>
            <li>
                <a href="#">Políticas de privacidad</a>
            </li>
            <li>
                <a href="#">Términos y Condiciones</a>
            </li>
        </ul>
    </div>
</footer>